<h1> BIENVENIDO A NUESTRA WEB DE SUBASTAS </h1>

<h2><%= link_to("ACCEDER A LOS PRODUCTOS EN SUBASTA", products_path) %></h2>

<h2><%= link_to("PONER EN SUBASTA UN PRODUCTO", new_product_path) %></h2>