/*-------------------GENERAL-----------------------*/

body {
	background: url('bg.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
	margin: auto;
	padding: auto;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#container_index {
	margin: 3em auto auto auto;
	padding: 0.5em;

	width: 40%;
	height: 335px;

	background-color: #FFD078;
	outline: 2px solid black;

	text-align: center;

}

#container_show {
	margin: 3.5em auto auto auto;
	padding: 0.5em;

	width: 60%;
	height: 535px;

	background-color: #FFD078;
	outline: 2px solid black;

	text-align: center;

}

#container_edit {
	margin: 2em auto auto auto;
	padding: 0.5em;

	width: 60%;

	background-color: #FFD078;
	outline: 2px solid black;

	text-align: center;

}

#container_edit table {
	padding: auto;
	margin: auto;

}

#back_button {
	width: 16%;
	text-align: center;
	background-color: #FFD078;
	outline: 2px solid black;

	position: relative;
	left: 41%;
	margin: .7em;
}

#back_button a {
	text-decoration: none;
	color: black;
	font-weight: bolder;
}


#back_button a:hover {
	color: #17A7BD;
}
h1 {
	color: white;
	text-shadow: 0 0 0.1em #FF6600, 0 0 0.2em #FF6600, 0 0 0.3em #FF6600,
	0 0 0.4em #FF6600, 0 0 0.6em #FF6600, 0 0 0.8em #FF6600,
	0 0 1.0em #FF6600;
}

header {
	background-color: white ;
	width: 100%;
	text-align: center;
	font-weight: bold;

}

footer {
	background-color: white ;
	width: 100%;
	text-align: center;
	font-weight: bold;

	margin: auto;
	padding: auto;

}

#barra_lateral{
	background: white;
	margin-top: 40px;
	float: right;
	width: 20%;
}

/*-------------------SHOW-----------------------*/

#band_name {
	color: white;
	font-size: 3em;
	position: relative;

	top: 0.8em;
	left: 0.2em;
}

#horizontal_show {
	width: 100%;
	background-color: #C2CDFF;
	float: left;
}

#horizontal_show ul {
	list-style: none;
}

#horizontal_show ul li {
	float: left;
	margin: 0.7em;	

	position: relative;
	left: 5%;
}

#horizontal_show ul li span {
	font-weight: bold;
}

#description {

	width: 75%;
	background-color: white;
	padding: 1em 0 0 0;
	margin: 11% auto auto auto;

	font-size: 0.9em;

	padding: 2.5em;
	text-align: center;
}

#description p {
	padding: 0.5em auto auto auto;
	margin: 0.5em auto auto auto;

}

#group_name {
	background-color: #ED7E00;
}

#links {
	overflow: hidden;
}

#one {
	height: 8%;
	width: 8%;
	text-align: center;
	background-color: #FFD078;
	outline: 2px solid black;

	position: relative;
	margin: .5em;
	padding: .5em;

	left: 40%;

	float: left;
}

#one a {
	text-decoration: none;
	color: black;
	font-weight: bolder;
}

#one a:hover {
		color:#17A7BD;
	}

#two {
	height: 8%;
	width: 8%;
	text-align: center;
	background-color: #FFD078;
	outline: 2px solid black;

	position: relative;
	margin: .5em;
	padding: .5em;

	left: 40%;
	overflow: hidden;
}

#two a {
	text-decoration: none;
	color: black;
	font-weight: bolder;
}

#two a:hover {
	color:#17A7BD;
}
#f_show {
	position: relative;
	top: 4.9em;
}
/*_______________________INDEX_______________________*/
#index_links tr td {
	padding: 1em;
	font-weight: bold;
	
}

#index_links tr td a {
	text-decoration: none;
	color: black;
	
}

#index_links tr td a:hover {
	color: #17A7BD;

}

#new_concert {


	width: 16%;
	text-align: center;
	background-color: #FFD078;
	outline: 2px solid black;

	position: relative;
	left: 41%;
	margin: .3em;
}

#new_concert a {
	text-decoration: none;
	color: black;
	font-weight: bolder;
}

#new_concert a:hover {
	color: #17A7BD;
}

#index_h_one {
	position: relative;
	top: -5%;

}

#f_index {
	position: relative;
	top: 17.9em;
}

/*----------------------EDIT---------------------*/
#f_edit {
	position: relative;
	top: 22.7em;
}

/*------------------NEW--------------------------*/

#f_new {
	position: relative;
	top: 18.6em;
}

#back_button_new {
	width: 16%;
	text-align: center;
	background-color: #FFD078;
	outline: 2px solid black;

	position: relative;
	left: 40.5%;
	margin: .7em;
}

#back_button_new a {
	text-decoration: none;
	color: black;
	font-weight: bolder;
}


#back_button_new a:hover {
	color: #17A7BD;
}