<% if flash[:alert] %>
	<%= flash[:alert] %>
<% end %>

<h1> HAZ TU PUJA: </h1>

<% if @bid.errors.any? %>
	<ul>
		<% @bid.errors.full_messages.each do |error_msg| %>
			<li><%= error_msg %></li>
		<% end %>
	</ul>
<% end %>

<%= render "form" %>

<%= link_to("Cancelar", product_path(@product)) %>