<% if flash[:alert] %>
	<%= flash[:alert] %>
<% end %>

<% if @project.errors.any? %>
	<ul>
		<% @project.errors.full_messages.each do |error_msg| %>
			<li><%= error_msg %></li>
		<% end %>
	</ul>
<% end %>

<%= render "form" %>

<br>
<%= link_to("Cancel", projects_path) %>